
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
:root{
  --main-color: #DEFB02; 
  --text-color: #999; 
  --white-color: #fff; 
  --black-color: #000; 
  --bg-color: #111;
  --bg-hover-color: #222222;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection{
  background-color: var(--text-color);
}


body {
  margin: 0;
  font-family: "Varela Round", sans-serif;
  /* font-weight: 300; */
  background-color: var(--bg-color) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.text-title{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

div.text-title h3{
  text-transform: uppercase;
  font-size: 2.4vw;
  position: relative;
  color: var(--white-color);
}

@media only screen and (max-width: 991px){
  div.text-title h3{
    font-size: 30px;
  }
}
@media only screen and (max-width: 500px){
  div.text-title h3{
    font-size: 20px;
  }
}

div.text-title h3::before{
  content: '';
  background-image: url(../public/images/home/Arm_icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
  top: 50%;
  left: 0;
  transform: translateY(0%) rotateY(180deg);
}
div.text-title h3::after{
  content: '';
  background-image: url(../public/images/home/Arm_icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
  top: 50%;
  left: 0;
  transform: translateY(0%);
}

div.text-title{
  color: var(--text-color);
}


a.btn-link{
  text-decoration: none;
  display: inline-block;
  width: 170px;
  padding: 10px 0; 
  text-align: center;
  border: none;
  background-color: var(--main-color);
  text-transform: capitalize;
  font-style: italic;
  font-weight: 500;
  margin-top: 30px;
  transition: all .4s;
  color: var(--black-color);
  border: 1px solid transparent;
}

a.btn-link:hover{
  color: var(--black-color);
  background-color: var(--white-color);
}





form .file{
  width: 40%;
  height: 100px;
  background-color: var(--bg-hover-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

form .file::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 80%;
  border: 2px dashed var(--white-color);
  border-radius: 2px;
}

form .file svg{
  color: var(--white-color);
  font-size: 40px;
}

form .file input[type="file"]{
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

form span.name-file{
  color: var(--white-color);
  position: unset;
}

@media only screen and (max-width: 991px){
  form .file{
    width: 100%;
  }
}